<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375232135547-91ea67use1pjgqldf0ev7rvm7is1of9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375232135547-91ea67use1pjgqldf0ev7rvm7is1of9b</string>
	<key>API_KEY</key>
	<string>AIzaSyBdUogwudNoXecYNM0WLugmbHnqWB9MkXg</string>
	<key>GCM_SENDER_ID</key>
	<string>375232135547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fire.jokch</string>
	<key>PROJECT_ID</key>
	<string>fire-joker-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-joker-challenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375232135547:ios:de259acd4a364ebaeabdde</string>
	<key>DATABASE_URL</key>
	<string>https://fire-joker-challenge.firebaseio.com</string>
</dict>
</plist>